/* Optional: Makes the sample page fill the window. */
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

#container {
  height: 90%;
  display: flex;
}

#sidebar {
  flex-basis: 15rem;
  flex-grow: 1;
  padding: 1rem;
  max-width: 30rem;
  height: 100%;
  box-sizing: border-box;
  overflow: auto;
}

#map {
  height: 90%;
}

#sidebar {
  flex-direction: column;
}

.logo {
  width: 240px;
}

.contenedor_logo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.contenedor_footer {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center; }